{{if (index .)}}
    <h4>Other files:</h4>
    <ul class="other-files">
        {{ range $i, $otherFile := . }}
            <li target="{{.Uuid}}">{{.BasePath}}
            </li>
        {{end}}
    </ul>
{{end}}
