{{ range $key, $value := . }}
    <ul>{{$key}}:
        <li>{{$value.Build}}</li>
        <li>{{$value.OS}}</li>
        <li>{{$value.JRE}}</li>
        <li> Custom plugins:<br/>
            {{range $value.PluginsList}}
                <a href="#" onclick='window.runtime.BrowserOpenURL({{.Link}})'>{{.Name}}</a> ({{.Version}})<br/>
            {{end}}
        </li>
    </ul>
{{end}}