/* CSS style content from github's default pygments highlighter template.
   Cursor and selection styles from textmate.css. */
.ace_line .ace_fold:after {
    content: "IDE START";
    position: absolute;
    width: 100%;
    height: 100%;
    /*background-color: red;*/
    top: 0;
    color: var(--editor-fodled-region-color);
    left: 4px;
    font-size: 9px;
    line-height: 1;
}
.ace_line .ace_fold {
    position: relative;
    background-image: none !important;
    width: 60px !important;
    border: 1px solid var(--border-color) !important;

}
.editor .ace_gutter {
    background: var(--editor-gutter-background-color);
    color: var(--editor-gutter-text-color);
}

.editor  {
    background: var(--editor-background-color);
    color: var(--editor-text-color);
}
.editor .ace_namespace{
    color: #0000ff;
}
.editor .ace_date{
    color: var(--editor-date-color);
}
.editor .ace_hyperlink, .editor .ace_ThreadDumpsHyperlink, .editor .ace_IndexingDiagnosticHyperlink, .editor .ace_IndexingProjectDiagnosticHyperlink{
    color: var(--hyperlink-color);
    text-decoration: underline;
    cursor: pointer !important;
    pointer-events: auto;
    /*position: absolute;*/
}
.editor .ace_loglevel.ace_error{
    font-weight: bold;
    color: #d15151;
}
.editor .ace_loglevel.ace_warn{
    color: #d15151;
}
.editor .ace_loglevel.ace_info{
    color: #00bc00;
}
.editor .ace_keyword {
    font-weight: bold;
}

.editor .ace_string {
    color: #D14;
}

.editor .ace_variable.ace_class {
    color: teal;
}

.editor .ace_constant.ace_numeric {
    color: #099;
}

.editor .ace_constant.ace_buildin {
    color: #0086B3;
}

.editor .ace_support.ace_function {
    color: #0086B3;
}

.editor .ace_comment {
    color: #998;
    font-style: italic;
}

.editor .ace_variable.ace_language  {
    color: #0086B3;
}

.editor .ace_paren {
    font-weight: bold;
}

.editor .ace_boolean {
    font-weight: bold;
}

.editor .ace_string.ace_regexp {
    color: #009926;
    font-weight: normal;
}

.editor .ace_variable.ace_instance {
    color: teal;
}

.editor .ace_constant.ace_language {
    font-weight: bold;
}

.editor .ace_cursor {
    color: black;
}

.editor.ace_focus .ace_marker-layer .ace_active-line {
    background: var(--editor-active-line-background-color);
}
.editor .ace_marker-layer .ace_active-line {
    background: var(--editor-active-line-background-color);
}

.editor .ace_marker-layer .ace_selection, .ace_editor .ace_marker-layer .ace_selected-word {
    /*background: rgb(181, 213, 255);*/
    background: rgb(250, 209, 54);
    box-shadow: 0 0 3px 0px black;
}

.editor.ace_multiselect .ace_selection.ace_start {
    box-shadow: 0 0 3px 0px white;
}
/* bold keywords cause cursor issues for some fonts */
/* this disables bold style for editor and keeps for static highlighter */
.editor.ace_nobold .ace_line > span {
    font-weight: normal !important;
}

.editor .ace_marker-layer .ace_step {
    background: rgb(252, 255, 0);
}

.editor .ace_marker-layer .ace_stack {
    background: rgb(164, 229, 101);
}

.editor .ace_marker-layer .ace_bracket {
    margin: -1px 0 0 -1px;
    border: 1px solid rgb(192, 192, 192);
}

.editor .ace_gutter-active-line {
    background-color : rgba(0, 0, 0, 0.07);
}

.editor .ace_marker-layer .ace_selected-word {
    background: rgba(250, 209, 54, 0.3);
    box-shadow: 0 0 1px 0px black;
}

.editor .ace_invisible {
    color: #BFBFBF
}

.editor .ace_print-margin {
    width: 1px;
    background: #e8e8e8;
}

.editor .ace_indent-guide {
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAACCAYAAACZgbYnAAAAE0lEQVQImWP4////f4bLly//BwAmVgd1/w11/gAAAABJRU5ErkJggg==") right repeat-y;
}
.ace_content .justchangedline {
    position: absolute;
    opacity: 0.3;
    background-color: var(--just-changed-line-highlighting);

}