#file-uploader {
    display: grid;
    grid-template-columns: [first] 350px [second] 350px;
    grid-template-rows: [row1-start] 250px [row1-end] 150px;
    justify-items: stretch;
    align-items: end;
    place-content: center;
    gap: 8px 32px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#file-uploader > div {
    cursor: pointer;
    padding: 24px 24px;
    border: 1px solid #C4C4C4;
    border-radius: 16px;
    color: var(--active-color);
    font-size: 14px;
}

/*IDE selector*/

#file-uploader #select-running-ide .dropdown {
    width: 250px;
}

#file-uploader #select-running-ide {
    display: flex;
    flex-direction: row;
    grid-column: 1 / 3;
    width: 100%;
    align-self: start;
    align-items: center;
    justify-content: space-between;
}

#file-uploader #select-running-ide .sub-header {
    padding-top: unset;
}