html {
    text-align: center;
    color: black;
}

@font-face {
    font-family: "JetBrains Mono";
    font-style: normal;
    font-weight: 400;
    src: local(""),
    url("/assets/fonts/JetBrainsMono-Regular.woff2") format("woff2");
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}
body {
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
    font-family:  -apple-system, BlinkMacSystemFont, "Segoe UI", serif;
    overscroll-behavior: none;
    overflow: auto;
    width: 100%;
    height: 100vh;
    font-size: 28px;
    align-items: stretch;
}
input {
    border: unset;
}
:focus-visible {
    outline: unset;
}

::-webkit-scrollbar {
    background: var(--scrollbar-track-color);
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-track:horizontal {
    background: var(--scrollbar-track-color);
    border-radius: 7px;
}
/*mockup for launch highlighters in scrollbar*/
/*::-webkit-scrollbar-track:vertical {*/
/*    !*background: var(--scrollbar-track-color);*!*/
/*    background-image: linear-gradient(0deg, red 0 50%, blue 50% 100%);*/
/*    !*background-size: 50px 50px;*!*/
/*    border-radius: 7px;*/
/*}*/
::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb-color);
    border-radius: 7px;

}
::-webkit-scrollbar-thumb:hover {
    background-color: var(--scrollbar-active-thumb-color);
    border-radius: 7px;

}
#dropzone {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    transition: visibility 175ms, opacity 175ms;
    display: flex;
    justify-items: center;
    align-items: center;
    place-content: center;
}

#dropzone .disclaimer {
    padding: 40px 16px;
    background-color: #f9f9f9;
    border: 1px solid #C4C4C4;
    border-radius: 16px ;
    font-size: 14px;
}
#dropzone .disclaimer:hover {
    background-color: var(--active-color);
}

#file-analyzer {
    position: relative;
    display: none;
    padding: 0 0 20px 0;
    height: 100%;
    width: 100%;
}
#file-analyzer #sidebar {
    width: calc(20% - 25px);
    display: flex;
    height: 100%;
    flex-direction: row;
    font-size: 14px;
    position: relative;
}

#file-analyzer #sidebar #toolWindows .top{
    height: 50%;
    overflow: auto;
    padding-left: 8px;
}
#file-analyzer #sidebar #toolWindows #filters{
}
#file-analyzer #sidebar #toolWindows .bot{
    flex: 1;
    overflow: auto;
    white-space: nowrap;
}
#file-analyzer #sidebar #toolWindows {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-bottom: 8px;
    padding-top: 8px;
}
#file-analyzer #sidebar #toolWindows .staticinfo li:before {
    content: "- ";
}
#file-analyzer #sidebar #toolWindows .staticinfo li {
    list-style-type: none;
    padding-left: 8px;
}
#file-analyzer #sidebar #toolWindows .staticinfo {
    text-align: left;
    padding-left: 8px;
}
#file-analyzer #sidebar #toolWindows .staticinfo .plusgins-list a{
    color: var(--hyperlink-color);
}
#file-analyzer #sidebar #toolWindows .staticinfo .plusgins-list{
    padding-left: 8px;
}

#file-analyzer #toolWindows-buttons {
    border-right: 2px var(--border-color) solid;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
    width: 25px !important;
}
#file-analyzer .toolWindowButton{
    font-size: 16px;
    height: auto;
    white-space: nowrap;
    padding-top: 8px;
    padding-bottom: 8px;
    cursor: pointer;
    transform: rotate(180deg);
    writing-mode: vertical-lr;
    width: 23px;
}
#file-analyzer .toolWindowButton.active{
    background-color: var(--active-color);
}
#file-analyzer .toolWindowButton span.closebtn{
    padding-top: 4px;
    padding-bottom: 2px;
}
#file-analyzer .container {
    border-top: 2px var(--border-color) solid;
    height: calc(100vh - 2px);
    display: flex;
    flex-direction: row;
    min-width: 100%;
    align-items: flex-start;
    justify-content: space-around;
    position: relative;
}

#file-analyzer #summary .file-checkbox {
    padding-left: 16px;
    list-style: none;
    font-size: 12px;
    white-space: nowrap;
}

#file-analyzer #log-holder {
    flex: 1;
    width: 80%;
    position: relative;
}

#file-analyzer #log-holder .input-group {
    position: relative;
}

#file-analyzer #search-hint {
    position: absolute;
    font-size: 13px;
    right: 8px;
    bottom: 9px;
    color: darkgray;
}

#file-analyzer .search-box {
    width: 100%;
    /*font-family: SF Pro Text;*/
    font-size: 13px;
    line-height: 16px;
    background: #FFFFFF;
    /*border: 1px solid #C4C4C4;*/
    box-sizing: border-box;
    border-radius: 3px;
    font-style: normal;
    font-weight: 500;
    color: #000000;
}


#file-analyzer #log-holder #editors {
    height: 100%;
}
#file-analyzer #log-holder .editor {
    font-family: "JetBrains Mono", monospace;
    overflow: hidden;
    font-size: 14px;
    width: 100%;
    max-width: 100%;
    height: calc(100% - 36px);
    white-space: nowrap;
    text-align: left;
    line-height: 1.2;
    padding-left: 8px;
    padding-top: 16px;
    user-select: all;
}
#file-analyzer #log-holder #alerts {
    display: flex;
    flex-direction: column;
    gap: 16px;
    position: absolute;
    bottom: 24px;
    right: 24px;
}
#file-analyzer #log-holder  #alerts .alert {
    padding-right: 24px;
    position: relative;
    display: flex;
    align-items: center;
    min-height: 48px;
    min-width: 160px;
    filter: drop-shadow(0px 0px 1.3px rgba(0, 0, 0, 0.5)) drop-shadow(0px 4px 14px rgba(0, 0, 0, 0.26));
    box-sizing: border-box;
    border-radius: 3px;
    padding-left: 16px;
    font-size: 14px;
    transition: 3s;
    color: var(--notification-text-color);
}
#file-analyzer #log-holder  #alerts .alert.warn {
    background-color: var(--notification-warn-background-color);
    border: 1px solid var(--notification-warn-border-color);
}
#file-analyzer #log-holder .alert.info {
    background-color: var(--notification-info-background-color);
    border: 1px solid var(--notification-info-border-color);
}
#file-analyzer #log-holder .alert.err {
    background-color: var(--notification-err-background-color);
    border: 1px solid var(--notification-err-border-color);
}
#file-analyzer #log-holder #alerts .alert .closebtn {
    position: absolute;
    top: 4px;
    right: 4px;
    margin-left: 15px;
    color: var(--notification-text-color);
    font-weight: bold;
    float: right;
    font-size: 16px;
    line-height: 16px;
    cursor: pointer;
    transition: 0.3s;
    height: 15px;
    width: 15px;
}

#file-analyzer .filters .input-group {
    margin-top: 4px;
    margin-bottom: 8px;
}

#file-analyzer .filters .group-label {
    font-size: 14px;
    margin-bottom: 4px;
    padding-left: 8px;
}
#file-analyzer .filters .group-label>.folding-icon{
    cursor: default;
}
#file-analyzer .filters .group-label label {
    position: relative;
    display: inline-block;
}
#file-analyzer .filters .group-label .filter-color-hint {
    opacity: 0.2;
    position: absolute;
    left: -4px;
    width: calc(100% + 8px);
    z-index: -1;
    height: 100%;
    white-space:pre-wrap;
    display: inline-block;
    padding-left: 10px;
}

#file-analyzer .filters {
    text-align: left;
    font-size: 14px;
}
#file-analyzer .filters .other-files  {
    margin-top: 4px;
}
#file-analyzer .filters .other-files li {
    position: relative;
    list-style-type: none;
    padding-left: 8px;
    cursor: pointer;
    white-space: nowrap;
}
#file-analyzer .filters .other-files li.active {
    background-color: var(--active-color);
}
#file-analyzer .filters .other-files li.active:after {
    content: "×";
    text-align: center;
    background-color: var(--active-color);
    line-height: 1.2;
    position: absolute;
    top: 0;
    right: 0;
    width: 24px;
    height: 100%;
    color: var(--text-color);
}



.button {
    box-sizing: border-box;
    height: 24px;
    padding: 4px 16px;
    background: var(--background-color);
    border: 1px solid var(--border-color);
    border-radius: 3px;
    flex: none;
    order: 0;
    flex-grow: 0;
    /* IJ macOS / Default */
    font-weight: 500;
    font-size: 13px;
    line-height: 14px;
    /* identical to box height, or 123% */
    text-align: center;
    /* IJ/text/default */
    color: var(--text-color);
}
.button:hover {
    border: 1px solid #87AFDA;
    border-radius: 3px;
}

.dropdown {
    box-sizing: border-box;
    height: 24px;
    min-width: auto;
    padding: 4px 28px 4px 8px;
    background: var(--background-color);
    border: 1px solid var(--border-color);
    border-radius: 3px;
    font-style: normal;
    font-weight: 500;
    color: var(--text-color);
    position: relative;
    cursor: pointer;
}

.dropdown > .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 13px;
    line-height: 14px;
    text-align: center;
    /* IJ/text/default */
    color: var(--text-color);
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    overflow: hidden;
    white-space: nowrap;
}

.dropdown > .title:after {
    content: url('/assets/images/dropdown-arrow.svg');
    background: var(--background-color);
    align-items: center;
    justify-content: center;
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 24px;
}

.dropdown > .options {
    display: none;
    z-index: 10;
    top: 26px;
    left: 0;
    right: 0;
    position: absolute;
    text-align: left;
    overflow: auto;
    max-height: 200px;
    background: var(--background-color);
    line-height: 24px;
    width: auto;
    white-space: nowrap;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

.dropdown > .options li {
    list-style: none;
    padding: 0px 12px 0px 8px;
}
.dropdown li.active, .dropdown li:hover {
    background-color: var(--dropdown-active-list-item-background-color);
    color: var(--dropdown-active-list-item-text-background-color);
}

#file-analyzer .ThreadDumpFilter li.active {
    background-color: var(--active-color);
}

#file-analyzer .ThreadDumpFilter li {
    list-style-type: none;
}

#file-analyzer .ThreadDumpFilter li:hover {
    cursor: pointer;
}
#file-analyzer .ThreadDumpFilter {
    text-align: left;
}

.filters input {
    cursor: pointer;
}

.sub-header {
    padding-top: 16px;
    padding-bottom: 4px;
    font-size: 18px;
    color: var(--text-color);
    font-weight: 400;
}


.loader {
    width:120px;
    height:22px;
    border-radius: 40px;
    color:#a6dbef ;
    border:2px solid;
    position: relative;
}
.loader::before {
    content:"";
    position: absolute;
    margin:2px;
    width:25%;
    top:0;
    bottom:0;
    left:0;
    border-radius: inherit;
    background:currentColor;
    animation:loader 1s infinite linear;
}
@keyframes loader {
    50% {left:100%;transform: translateX(calc(-100% - 4px))}
}